
@import url("https://fonts.googleapis.com/css2?family=Montserrat&display=swap");



:root {
  --white: #ffffff;
  --black: #000000;
  --blue: #212BB2;


  /* Theme light */

  --bluelight: rgb(74,204,236);
  --StartLightGradient: rgb(116, 108, 247);
  --EndLightGradient: rgb(74,204,234);
  --textSecondaryLight: #000;
  --linkLight: #006F8A;
  --borderLightGardient: linear-gradient(0deg, rgb(74,204,234) 0%, rgb(116, 108, 247) 75%);
  --hoverLight: #8F04FF1A;

  /* background */

  --bg-light-1: #E7F9FF;
  --bg-light-2: #FAFAFF;
  --bgtlight3: #DFF9FF;


  /* Theme dark */

  --linkdark: #9BAAFF;
  --linkdarkhover: #E5EDFF;
  --StartDarkGradient: rgb(51,66,255);
  --EndDarkGradient: rgb(88,41,145);
  --borderDark: #393FFEB0;


  --textPrimaryDark: rgb(51,66,255);
  --textSecondaryDark: #E5EDFF;
  --shadow: rgba( 31, 38, 135, 0.37);

  /* background */

  --bg-dark-1 : rgba(0,36,41,1);
  --bg-dark-2: rgb(26, 39, 39);


}






*,
*::before,
*::after {
  box-sizing: border-box;
  margin: 0;
  font-weight: normal;
}


/* app */

#app{
  box-sizing: border-box;
  overflow-x: hidden;
  perspective: 1000px;

}


/* background css */

.backgroundDefault {
  background-size: auto;
  background-size: auto;
  min-width: 100vw;
  min-height: 100vh;
  
}


.backgroundLight {

  background: var(--white);
  transition: .5s ease;

}


  .backgroundDark {
    background: var(--bg-dark);
    transition: .5s ease;
} 


/*section*/

.section {
  margin-top: auto;
  margin-bottom: auto;
  position: relative;
}