@import "@fontsource/jura"; /* Defaults to weight 400 */
@import "@fontsource/jura/400.css"; /* Specify weight */
@import url("https://fonts.googleapis.com/css2?family=Montserrat&display=swap");

:root {
  --white: #ffffff;
  --black: #000000;
  --Similiblack: #181818;
  --black-soft: #222222;
  --yellow: #ffea00;
  --bluelight: rgb(74,204,236);

  
  --stroke-text-light : #6c6da2;

  --stroke-text-dark : 0.3px var(--black-soft) !important; 
  --stroke-text-dark : 0.3px var(--black-soft) !important; 

  /* bg-nav-bar */

  --bg-light: #0099ff10;
  --bg-dark : rgba(128, 120, 120, 0.10);

  /* shadow */


}



*,
*::before,
*::after {
  box-sizing: border-box;
  margin: 0;
  font-weight: normal;
}


/* app */

#app{
  box-sizing: border-box;
  overflow-x: hidden;
  perspective: 1000px;

}


/* background css */

.backgroundDefault {
  background-size: auto;
  background-size: auto;
  min-width: 100vw;
  min-height: 100vh;
  
}


.backgroundLight {

  background: rgb(255,255,255);
  /*background: linear-gradient(112deg, #0355F4 6.55%, #FFF 17.08%, #37A1EE 23.07%, #BCDAF7 37.29%, #6D95E8 53.04%, #8C8FDB 63.88%, #8083DB 71.02%, #9B9EE2 80.32%, #FEFEFE 84.24%, #1271FF 94.18%);
  background: radial-gradient(ellipse, rgba(255,255,255,1) 65%, rgba(98, 169, 180, 0.805) 79%  , rgba(0, 238, 255, 0.833) 80%);
  background-image: linear-gradient(to top, rgba(255,255,255,1) 91%, rgba(0, 238, 255, 0.833) 92%);*/

  transition: .5s ease;

}


  .backgroundDark {
    background: rgb(31, 31, 31);
    /*background: linear-gradient(112deg, #0E236F 6.55%, #060D23 17.08%, #4610B9 23.07%, #2F4254 37.29%, #194FBE 53.04%, #502DB4 63.88%, #6368CF 71.02%, #070DAC 80.32%, #000 84.24%, #161493 94.18%);
    background: radial-gradient(ellipse, rgba(3,18,102,0.8290966044620973) 65%, rgb(54, 54, 118) 79% ,rgba(27, 27, 32, 1) 80%);
    background-image: linear-gradient(to top, rgba(3,18,102,0.8290966044620973) 91% ,rgba(27, 27, 32, 1) 92%);
    transition: .5s ease;*/

} 


/*section*/

.section {
  margin-top: auto;
  margin-bottom: auto;
  position: relative;
}

/* animation fade */

.slide-enter-active, .slide-leave-active, .slide-reverse-enter-active, .slide-reverse-leave-active {
  transition: all 1s ease;
}
.slide-enter, .slide-leave-to {
  transform: translateX(100%);
}
.slide-enter-to, .slide-leave {
  transform: translateX(0);
}
.slide-reverse-enter, .slide-reverse-leave-to {
  transform: translateX(-100%);
}
.slide-reverse-enter-to, .slide-reverse-leave {
  transform: translateX(0);
}

  
