/* global text css */

.text-justify {
  text-align: justify!important;
}

/* color white */

:is(.h1-light, .navHomeLight.router-link-exact-active){
  color: var(--white)!important;
  font-weight: bold!important;
  -webkit-text-stroke: 0px !important; 
}

:is(.h1-dark, .navHomeDark.router-link-exact-active){
  color:#FFFF00 !important;
  -webkit-text-stroke: 0.3px #FFA500 !important;
  text-shadow: -1px 0 #FFA500, 0 1px #FFA500, 1px 0 #FFA500, 0 -1px #FFA500;
  font-weight: bold!important;

}


:is(.h2-dark, .navHomeDark ){
  color: var(--white);
  -webkit-text-stroke:  0.5px rgb(125, 137, 163)mportant; 
  font-weight: bold!important;
}

:is(.h2-light, .navHomeLight){
  -webkit-text-stroke: 0.4px #1db1c8; 
}

:is(.text-color-light){
  color: var(--black-soft);
}

:is(.navTextDark) {
  color: #e2e271;
}

:is( .footerTextDark){
  color: #e2e271;


}


:is( .footerTextDark:hover){
  color: #eeeeca;


}

:is(.navTextDark:hover){
  color: #e7e73b;
  text-shadow: 0 0 5px var(--white),
  0 0 10px var(--white),
  0 0 15px var(--white);
  -webkit-text-stroke: 0.2px #1900ff!important; /* Largeur et couleur du contour */
  cursor: pointer;

}

:is(.navTextLight, .footerTextLight){
  color:#1d3797;
  -webkit-text-stroke: 0.1px #83830f !important; 

}

:is(.text-color-dark, .navTextLight:hover, .h2-light, .navHomeLight, .footerTextLight:hover, .navHomeLight){
  color: var(--white)!important;
}

:is( .navItem button , p , label, h1, #navBar ){
  font-family: 'Montserrat', sans-serif!important;
}

:is(h2, h3){
  font-family: Jura!important;
}



/* h1 */
  
  .h1-light{
    font-weight: bold!important;
    text-shadow: 0 0 5px black;
    transition: .5s ease;
  
  }
  
  .h1-dark {

    font-weight: bold!important;
    transition: .5s ease;
  
  
  }

  /* h2 style */

   /* h2-style */
  
   .h2-light {
    -webkit-text-stroke: 0.4px #1db1c8 !important; 
    transition: .5s ease;
  
  }
  
  .h2-dark {
    transition: .5s ease;
  }
  
  .text-style {
    font-style: normal!important;
    font-weight: 400!important;
    line-height: normal!important;
  }
  
  .text-color-dark{
    -webkit-text-stroke: 0.2px #003c82!important; /* Largeur et couleur du contour */
    font-weight: 400!important;
    transition: .5s ease;
  
  }

    
  .text-color-light{
    -webkit-text-stroke: 0.1px rgb(11, 10, 22)!important; /* Largeur et couleur du contour */
    font-weight: 400!important;
    transition: .5s ease;
  
  }
  
  .text-wrap {
    word-wrap: break-word; /* Permet au texte de passer à la ligne lorsqu'il dépasse la largeur de son conteneur */
    white-space: normal; /* Permet le retour automatique à la ligne du texte */
  }
  
  
 
  /* p style */
  
  p, label {
    font-size: 1rem; /* 1rem est généralement équivalent à 16px, mais s'adapte à la taille de la police de base du navigateur */
  }
  
  /* indentation first line */
  
  .paragraph::first-line {
    text-indent: 5%; /* Utilisez un pourcentage pour rendre l'indentation responsive */
  }
  
  /* nav-text */
  
  
  .navTextLight {
     transition: .5s ease;
  
  }
  
  .navTextLight:hover{
  
    text-shadow: 0 0 5px var(--white),
    0 0 10px var(--stroke-text-light),
    0 0 15px var(--Similiblack);
    -webkit-text-stroke: 0.2px #0f2946!important; /* Largeur et couleur du contour */
    text-stroke: 0.2px #0f2946!important; /* Largeur et couleur du contour */
    cursor: pointer;
  
  }
  
  .navTextDark  {
  
    -webkit-text-stroke: 0.1px rgb(128, 198, 215)!important; 
     text-decoration: none;
     transition: .5s ease;
  
  }
  

  /* nav-bar style text  */

  .navHomeLight {
  text-shadow: 0 0 2px var(--Similiblack);
  text-decoration: none;
  transition: .5s ease;
}

.navHomeDark {
  text-shadow: 0 0 2px rgb(234, 245, 245);
   text-decoration: none;
   transition: .5s ease;
  
}

.navHomeDark:hover {
  color:#FFFF00 !important;
  -webkit-text-stroke: 0.1px #FFA500 !important; /* Largeur et couleur du contour */
  text-shadow: 0 0 5px var(--white),
  0 0 10px var(--white),
  0 0 15px var(--white);

  cursor: pointer;
  transition: .5s ease;
}

.navHomeLight:hover {
  text-shadow: 0 0 5px #b8bbe0,
  0 0 10px #b8bbe0,
  0 0 15px #b8bbe0;
  cursor: pointer;
  transition: .5s ease;
}


/* nav-bar route active */

.navTextDark.router-link-exact-active  {
  color:#FFFF00 !important;
  -webkit-text-stroke: 0.1px #FFA500 !important; /* Largeur et couleur du contour */
  font-weight: bold!important;
}

.navTextLight.router-link-exact-active  {
  color: white!important;
  -webkit-text-stroke: 0.1px #f1f4ff !important; /* Largeur et couleur du contour */
  font-weight: bold!important;
}


  /* media query text reponsive */

  /* mobile format */
  @media (max-width: 576px) {
    .h1-light, .h1-dark {
      font-size: calc(2.2rem + 0.5vw);
    }
    .h2-light, .h2-dark {
      font-size: 1.5rem;
    }
    .text-style, p, li {
      font-size: calc(1rem + 0.1vw);
    }
  }

  /* tablet format*/
  @media (min-width: 577px) and (max-width: 991px) {
    .h1-light, .h1-dark {
      font-size: calc(2.2rem + 0.5vw);
    }
    .h2-light, .h2-dark {
      font-size: 2rem;
    }
    .text-style, p, li, span {
      font-size: 1.25rem;
    }

    .nav-link{
      font-size: calc(1rem + 0.1vw);
    }

    .navHomeDark , .navHomeLight {
      font-size: 1.25rem;
    }
  }

  /* format desktop */
  @media (min-width: 992px) {
    .h1-light, .h1-dark {
      font-size: 3rem;
    }
    .h2-light, .h2-dark {
      font-size: 2.5rem;
    }
    .text-style, p, span{
      font-size: calc(0.8rem + 0.5vw);
    }

    .text-contact {
      font-size: calc(0.7rem + 0.5vw);
    }

    .nav-link{
      font-size: calc(1rem + 0.5vw);
    }
    .navHomeDark , .navHomeLight {
      font-size: 2rem;
    }
  }

  